
*.xz
*.gz
*.tar
*.tar.xz
*.tar.gz

*.json
*.csv

data/branch/**

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/
env/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.tex
*.bib
*.svg
*.png
*.pdf
*.txt
!cbp2025/sample_traces/**

!cbp2025/reference_results_training_set.csv
!cbp2025/results/results.csv

!.gitkeep
!**/.gitkeep

!results/benchmark.json
